/app/db/*
!/app/db/.gitkeep

/app/db/mysql/*
!/app/db/mysql/.gitkeep

/app/nginx/*
!/app/nginx/.gitkeep

/app/nginx/log/*
!/app/nginx/log/.gitkeep

/app/web/*
!/app/web/.gitkeep

/app/web/swapsy/*
!/app/web/swapsy/.gitkeep

app/nginx/log
app/nginx/log
